################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HTTPproject/.vs/HTTPproject/v16/Browse.VC.opendb
